{% extends "base.html" %}
{% block content %}

<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data" class="form-horizontal">
  <div class="form-group">
    <label>Anomaly detection method</label>
    <select class="form-control" id="select_method">
      {% for name in names %}
      <option value={{loop.index}}>{{ name }}</option>
      {% endfor %}
    </select>
  </div>
  {% for desc in descriptions %}
  <div class="form-group hide">
    <div class="alert alert-info" role="alert" id="desc-{{loop.index}}">{{ desc }}</div>
  </div>
  {% endfor %}
  
  <div class="form-group">
    <input type="file" name="file" required>
  </div>
  <div class="form-group">
    <input type="submit" value="Upload">
  </div>
</form>

{% endblock %}

{% block scripts %}
<script src="static/js/my.js"></script>
{% endblock %}
